:root {
  --bg-start: #4b0082;
  --bg-end: #8a2be2;
  --bg-secondary: #332e4c;
  --text-quote: #f3f0ff;
  --text-author: #c8a2c8;
  --accent-action: #ffcc33;
  --font-quote: "Lora", serif;
  --font-author: "Source Sans Pro", sans-serif;
  --font-primary: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Body Layout*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, var(--bg-start) 0%, var(--bg-end) 100%);
  font-family: var(--font-primary);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: var(--text-quote);
}

/*Header and Footer layout*/
header,
footer {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  gap: 0;
}
header {
  height: 15%;
  justify-content: center;
  gap: 10px;
  padding: 5px;
}
header h1 {
  margin: 0;
  color: var(--accent-action);
}
header h2 {
  margin: 0;
  font-size: 1.2rem;
}

footer a {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: bold;
  transition: all 0.3s ease;
}

footer a:hover {
  transform: scale(1.05);
  filter: brightness(1.5);
  color: var(--accent-action);
}

/*Main section layout*/
main {
  display: flex;
  height: 75%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section {
  display: flex;
  height: 75%;
  width: 75%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  border: solid 4px var(--accent-action);
  border-radius: 15px;
}

main section blockquote {
  font-family: var(--font-quote);
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--text-quote);
}

main section p {
  font-family: var(--font-author);
  color: var(--text-author);
  font-weight: bold;
}
